.topnav #myLinks {
  display: none;
}


.bg-header{
  background: url('../img/bg.jpg') no-repeat center;
  object-fit: contain;
}
.bg2-header{
  background: url('../img/bg2.jpg') no-repeat center;
  object-fit: contain;
}